
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

.image-container {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute;
    top: 114px;
    left: 50px;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    background-image: url("design/desktop-design.jpg");
    background-size:auto;
    z-index: -1; /* Ensure image goes behind page content */
    background-repeat: no-repeat;
    opacity:60%;
  }

  .large-text {
    font-size: 55px;
    line-height: 0.9;
    letter-spacing: -1.3px;
    margin-top: 50px;
  }

  .desc-text {
    font-size: 20px;
    margin-top: -11px;
    line-height: 1.3;
    letter-spacing: -0.7px;
  }

body {
    font-family: "League Spartan", sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.description h1,
.description p,
.ratings p {
    color: var(--dark-magenta);
}

.container {
    display: flex;
    width: 1100px;
    justify-content: space-between;
}

.rating-box {
    display: flex;
    align-items: center;
    width: 414px;
    height: 54px;
    background-color: var(--light-grayish-magenta);
    margin: 10px;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 17px;
}

.description, .ratings {
    width: 480px;
}

.description {
    flex-basis: 42%;
}

.ratings {
    flex-basis: 56%;
    padding-top: 84px;
}

.stars img {
    margin: 2px;
}

.rating-box p {
    font-weight: 700;
    margin-left: 30px;
}

.testimonial-box {
    width: 300px;
    height: 200px;
    padding: 30px;
    background-color: var(--dark-magenta);
    border-radius: 10px;
}

.verified-buyer {
    color: var(--soft-pink);
}

.testimonial-box p:not(.verified-buyer) {
    color: var(--white);
}

.testimonial-box img {
    border-radius: 50%;
    width: 50px;
    height: auto;
}

.rating-box {
    flex: 1 0 300px;
}

.rating-box:nth-child(1) {
    margin-left: 90px;
    margin-top: 0;
}

.rating-box:nth-child(2) {
    margin-left: 135px;
    margin-top: 18px;
}

.rating-box:nth-child(3) {
    margin-left: 185px;
    margin-top: 18px;
}

p {
    line-height: 1.5;
}

.buyer {
    display: flex;
}
